# Flask specific
FLASK_APP=src/app.py
FLASK_ENV=development
SECRET_KEY=your_very_secret_key_here

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/fbo_launchpad_dev

# Application specific settings
APP_NAME=FBO LaunchPad
DEBUG=True
LOG_LEVEL=DEBUG 